/**
 * Form for search movies
 */


.table-hits a {
    color: #000;
     text-decoration: none;
 }

 .selected {
     color: #f5a06e;
 }

/**
 * Movie table
 */
.movie-table table {
    overflow-x: auto;
    width: 100%;
}

.movie-table table a {
    color: #000;
    text-decoration: none;
}

.movie-table thead, tfoot {
    background-color: #b50000;
    color: #fff;
}

.movie-table tr {
    display: table-row;
}

.movie-table tr:nth-of-type(even) {
    background-color: #eee;
}

.movie-table td {
    font-size: .8em;
}

.movie-table td, th {
    margin: 0;
    padding: .5em;
    border: 0;
}

.movie-table tr td:nth-child(-n+2) {
    text-align: center;
}

.movie-table tr td:nth-child(4) {
    text-align: center;
}

.movie-table tr td:nth-child(6) {
    text-align: center;
}

.movie-table {
    margin-top: 20px;
}
.movie-table table {
    width: 100%;
}

.movie-table thead {
    height: 2em;
}

.movie-table .table-hits {
    text-align: right;
}

.movie-table .movie-pages {
    text-align: center;
}

/**
 * Table navigation bar in table footer
 */
.movie-table tfoot td {
    overflow: hidden;
}

.movie-table tfoot ul {
    list-style: none;
    margin: 0;
}

.movie-table tfoot a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.movie-table tfoot a:hover {
    color: #f5a06e;
}

.movie-table tfoot li {
    display: inline;
}

.button {
    border: 1.5px solid #fff;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 1px;
    margin-left: 8px;
    margin-top: 1px;
    padding: 5px;
    text-align: center;
}

.right-button {
    border: 1.5px solid #fff;
    border-radius: 5px;
    display: inline-block;
    margin-right: 8px;
    padding: 5px;
    text-align: center;
}

tfoot .selected {
    background: #fff;
    color: #f5a06e;
}

.navigationBar {
    overflow: auto;
    width: 100%;
}

.backButtons {
    display: inline-block;
    float: left;
    padding-left: 0;
    text-align: left;
}

.forwardButtons {
    display: inline-block;
    float: right;
    margin-right: 1em;
    padding-left: 0;
}

.pageNumbers {
    padding-left: 0;
}

.orderby {
    margin-left: .3em;
}

.sort-button {
    background: #fff;
    color: #000;
    border: 1px solid #222;
    border-radius: 2px;
    padding: 1px 3px;
    text-decoration: none;
    font-size: 10px;
    font-weight: 400;
    margin-right: 3px;
    margin-bottom: 1px;
}

.admin-icon {
    display: block;
    margin-left: 15px;
    margin-top: 10px;
}

.message {
    background-color: #eee;
    display: block;
    padding: 20px;
}

/**
 * Responsive layout
 */
@media (max-width: 600px) {
    .movie-table table {
        display: block;
        overflow-x: auto;
    }
}
